* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}

header {
    width: 100%;
    height: auto;
}

nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #02fae2;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

li {
    margin: 20px;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 50px;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.contenedor {
    width: 90%;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 25px;
}

.card {
    background: white;
    padding: 20px;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.ejemplo {
    background: #eeeeee;
    padding: 15px;
    margin-top: 10px;
    border-radius: 6px;
}

code {
    background: rgb(255, 255, 255);
    color: #000000;
    padding: 5px;
    border-radius: 4px;
}

blockquote {
    border-left: 5px solid #02fae2;
    padding-left: 10px;
    font-style: italic;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background: #02fae2;
}